[submodule "resources/[sublime]/sublime_core"]
    path = resources/[sublime]/sublime_core
    url = https://github.com/sublime-framework-cfx/sublime_core-fivem
[submodule "config"]
    path = config
    url = https://github.com/sublime-framework-cfx/sublime_core-starter
    branch = main
